// Search Component

.searchForm {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 4%;
  right: 5%;

  input,
  button {
    border-radius: 50px;
    padding: 0.5rem;
    background: #ffffff3f;
    color: black;
    border: 1px solid black;

    &::placeholder {
      color: black;
      opacity: 1;
    }

    &[type="submit"] {
      color: black;
      cursor: pointer;
    }
  }

}


// Details Component


.DetailsContainer {
  top: 0;
  right: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  


  .CityWeather {
    color: rgb(5, 15, 15);
    position: absolute;
    top: 4%;
    left: 4%;
    background: #ffffff3f;
    border-radius: 1rem;
    padding: 0.9rem;


  }

  .weatherDetails {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 4%;
    left: 4%;
    background: #ffffff3f;
    padding: 1rem;
    border-radius: 1rem;

  }
}




// rotation Overlay
.rotateOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.92);
  color: #fff;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__icon {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 0.9rem;
    color: #ccc;
  }
}