$breakpoints: (
//   mobile: 480px,
//   tablet: 768px,
//   desktop: 1200px
  smallDevice: 768px,
  mediumDevice: 997px,
  largeDevice: 1500px,
);

@mixin respond($device) {
  $size: map-get($breakpoints, $device);
  @if $size {
    @media (max-width: #{$size}) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$device}";
  }
}
