$breakpoints: (
  smallDevice: 768px,
  mediumDevice: 997px,
  largeDevice: 1500px,
);


@use "sass:map";
@mixin respond($device) {
  $size: map-get($breakpoints, $device);
  @if $size {
    @media (max-width: #{$size}) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$device}";
  }
}
